.octodex {
  padding: 0;
}

.octocat {
  width: 450px;
  float: left;
  list-style: none;
  margin-left: 20px;
  border-bottom: 1px solid #aaa;
  padding-bottom: 5px;
}


img {
  max-width: 100%;
}

.octocat > a {
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}
.octocat > a > img::after{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 17.3px 10px 0 10px;
  border-color: #bac4cf transparent transparent transparent;
}

.image-footer img {
  display: inline-block;;
  width: 30px;
  border: none;
  border-radius: 10px;
}

.image-footer {
    padding-top: 15px;
}

.authors {
  float: right;
  padding: 0;
  list-style: none;
}

.authors img{
  padding: 1px;
}

.authors a{
  text-decoration: none;
}

.image-caption {
  float: right;
}

.image-caption > span {
  display: inline-block;
  margin-top: 9px;
  font-family: sans-serif;
  font-weight: bold;
  color: #888;
  padding-right: 4px;
}

.image-caption > a {
  display: inline-block;
  margin-top: 9px;
  font-family: sans-serif;
  font-weight: bolder;
  text-decoration: none;
  color: black;
}


.image-number {
  float: left;
  margin-top: 9px;
  font-style: italic;
  font-family: sans-serif;
  font-weight: bold;
  color: #999;
}

.image-number::before {
  content: "#";
}
