.octodex {
  padding: 0;
}

.octocat {
  width: 450px;
  float: left;
  list-style: none;
  margin-right: 24px;
}


img {
  max-width: 100%;
}

.octocat > a > img {
  border: 1px solid #aaa;
}

.image-footer img {
  display: inline-block;;
  width: 30px;
  border: none;
  border-radius: 10px;
}

.authors {
  float: right;
  padding: 0;
  list-style: none;
}

.authors img{
  padding: 1px;
}

.authors a{
  text-decoration: none;
}

.image-caption {
  float: right;
}

.image-caption > span {
  padding-top: -top: 10px;
}

.image-caption > a {
  padding-top: 10px;
}

.image-number {
  float: left;
}
